apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: K8S_CA
    server: K8S_SERVER
  name: buildkit
contexts:
- context:
    cluster: buildkit
    namespace: buildkitk
    user: buildkit
  name: buildkit
current-context: buildkit
users:
- name: buildkit
  user:
    token: USER_TOKEN
