apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: K8S_CA
    server: K8S_SERVER
  name: teststage
contexts:
- context:
    cluster: teststage
    namespace: teststage
    user: teststage
  name: teststage
current-context: teststage
users:
- name: teststage
  user:
    token: USER_TOKEN
